# Eclipse
.classpath
.project
.settings/

# Maven
target/
*.ser
*.ec
.mvn/timing.properties
.mvn/extensions.xml
.mvn/maven.config

# Intellij
*.ipr
*.iml
*.iws
.idea/

# OrientDB
.orientdb_history

# Other
.DS_Store
.clover
*.log
/*.rc
atlassian-ide-plugin.xml
dependency-reduced-pom.xml
out
